---
import Layout from "../../layouts/Layout.astro";
import CardInvite from "../../components/CardInvite.astro";
import {
    getAllInvitesSortedByName,
    getAnimatorInvited,
} from "../../../backend/backend.mjs";

const hero = {
    title: "Invités",
};

let invites = await getAllInvitesSortedByName();
let animateurs = await getAnimatorInvited();
---

<Layout hero={hero} title="Invités">
    <section class="max-w-5xl mx-auto my-12 px-6">
        <h2
            class="text-3xl font-semibold mb-6 pb-2 border-b-4 border-(--color-turquoise) inline-block text-gray-900"
        >
            Invités
        </h2>
        <div class="flex flex-col gap-4 items-center">
            {invites.map((invite) => <CardInvite invites={invite} />)}
        </div>
    </section>

    <section class="max-w-5xl mx-auto my-12 px-6 bg-white py-8 rounded-xl">
        <h2
            class="text-3xl font-semibold mb-6 pb-2 border-b-4 border-(--color-blue) inline-block text-black"
        >
            Animateurs
        </h2>
        <div class="flex flex-col gap-4 items-center">
            {
                animateurs.map((animateur) => (
                    <div class="w-full">
                        <CardInvite invites={animateur} />
                        {animateur.activites && (
                            <div class="mt-2 ml-4 p-3 bg-white rounded-lg shadow-sm border-l-4 border-black">
                                <h4 class="font-medium text-black">
                                    Anime :
                                </h4>
                                {Array.isArray(animateur.activites) ? (
                                    <ul class="mt-1 space-y-1">
                                        {animateur.activites.map((activite) => (
                                            <li class="text-gray-700">
                                                {activite.nom}
                                            </li>
                                        ))}
                                    </ul>
                                ) : (
                                    <p class="text-gray-700 mt-1">
                                        {animateur.activites}
                                    </p>
                                )}
                            </div>
                        )}
                    </div>
                ))
            }
        </div>
    </section>
</Layout>
